a {
    color: rgb(63, 81, 181);
    text-decoration: initial;
}

.region-key {
    display: none;
}

.container {
    max-width: 900px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #b69b10;
}

body {
    font-size: 20px;
    line-height: 33px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: none;
    color: #707070;
}

.post_image_inner .post_image_title {
    display: none;
}

md-card .md-caption {
    padding: 0 16px;
    margin: 0;
    line-height: 1.5;
}

md-card footer {
    padding: 0 16px;
    border-top-width: 1px;
    border-top-style: solid;
    margin: 0;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.056);
}

md-card .md-headline {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: initial;
    font-weight: 400;
}

md-list-item.md-3-line>.md-avatar.variety,
md-list-item.md-3-line>.md-no-style>.md-avatar.variety {
    width: 90px;
    height: 90px;
    border-radius: 0;
}

.md-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.md-table tbody {
    font-size: 0.8em;
}

.md-table tbody tr:hover,
.md-table tbody tr:focus {
    cursor: pointer;
    background-color: rgba(63, 81, 181, 0.2);
}

.md-table tbody tr {
    border-bottom: 1px solid rgb(230, 230, 230);
}

.md-table tbody tr th {
    width: 100px;
    text-align: left;
    font-weight: 400;
}

.md-table caption {
    border-bottom: 1px solid rgb(230, 230, 230);
    color: rgb(130, 130, 130);
    text-align: left;
    font-size: 0.75em;
    font-weight: 700;
    padding: 16px 16px 16px 0;
}

.md-table tbody td {
    width: 100px;
    word-wrap: break-word;
}

.md-table tbody th a {
    text-decoration: none;
    color: inherit;
}

ul.wine-style {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.wine-style li {

}
ul.wine-style li span{
    display: inline-block;
    margin-right: 5px;
}
ul.wine-style li span:first-child{
    width: 45px;
}
ul.wine-style li span:not(:first-child){
    width:14px;
    height: 14px;
    border-radius: 8px;
}
ul.wine-style li > span.empty{
    border: 2px solid rgb(230, 230, 230);
}
ul.wine-style li > span.full{
    background-color: rgb(130, 130, 130);
    border: 2px solid rgb(130, 130, 130);
}