body {
    background-color: #fafafa;
    font-size: 20px;
    line-height: 33px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: none;
    color: #707070;
}

a {
    color: rgb(63, 81, 181);
    text-decoration: initial;
}

md-content {
    background-color: transparent;
}

.region-key {
    display: none;
}

.container {
    max-width: 900px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #b69b10;
}

.post_image_inner .post_image_title {
    display: none;
}

md-card .md-caption {
    padding: 0 16px;
    margin: 0;
    line-height: 1.5;
}

md-card footer {
    padding: 0 16px;
    border-top-width: 1px;
    border-top-style: solid;
    margin: 0;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.056);
}

md-card .md-headline {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: initial;
    font-weight: 400;
}

md-list-item.md-3-line>.md-avatar.variety,
md-list-item.md-3-line>.md-no-style>.md-avatar.variety {
    width: 90px;
    height: 90px;
    border-radius: 0;
}

.md-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.md-table tbody {
    font-size: 0.8em;
}

.md-table tbody tr:hover,
.md-table tbody tr:focus {
    cursor: pointer;
    background-color: rgba(63, 81, 181, 0.2);
}

.md-table tbody tr {
    border-bottom: 1px solid rgb(230, 230, 230);
}

.md-table tbody tr th {
    width: 100px;
    text-align: left;
    font-weight: 400;
}

.md-table caption {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 16px 16px 16px 0;
}

.md-table tbody td {
    width: 100px;
    word-wrap: break-word;
}

.md-table tbody th a {
    text-decoration: none;
    color: inherit;
}


/* WINE TASTING LIST */

.wine-tasting h3 {
    margin-bottom: 0;
}

.wine-tasting h4 {
    margin: 0;
}

.wine-tasting ul {
    font-size: 0.85em;
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 0;
}

.wine-tasting ul li {
    display: flex;
    flex-direction: row;
    padding: 16px 16px 0 0;
}

.wine-tasting ul li > span {
    display: inline-block;
}

.wine-tasting ul li > span:first-child {
    padding: 0 0 0 16px;
    text-align: left;
    width: 200px;
}

.wine-tasting ul li > span:not(:first-child) {
    flex: 1;
    box-sizing: border-box;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(230, 230, 230);
}


/*  POSTS */

.post {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    overflow: hidden;
}

.post h1 {
    font-size: 56px;
    font-weight: 400;
    letter-spacing: -.005em;
    line-height: 56px;
    padding: 0 16px;
    margin-bottom: 0;
}

.post h1 a {
    color: rgba(0, 0, 0, 0.87);
}

.post h3 {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: initial;
    font-weight: 400;
}

.post .content {
    display: block;
    padding: 0 16px;
}
.post .top-image {
    padding:0;
    margin: 0;
    height: 450px;
}
.post .caption {
    font-size: 0.67em;
    letter-spacing: .020em;
    padding: 0;
    margin: 0 16px;
    line-height: 1.167em;
}


/* GRAPE VARIETY COMPONENT */

.grape-variety {    
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 24px 16px;
}

.grape-variety h4 {
    margin: 0;
    font-weight: 400;
    letter-spacing: .010em;
    line-height: 24px;
    padding-bottom: 12px;
}

.grape-variety .grape-variety-detail, .grape-variety p {
    font-size: 0.85em;
}



/*  WT SCALE COMPONENT */

.wt-scale {
    display: block;
    padding: 8px;
}
.wt-scale:hover {
    background-color: rgba(234,184,46,0.1);
}

.wt-scale .label {
    text-align: left;
    display: inline-block;
    width: 80px;
}

.wt-scale .option {
    text-align: center;
    font-size: 0.85em;
    display: inline-block;
    width: 100px;
    color: rgba(0,0,0,0.23);
}


.wt-scale .option.full {
    background-color: #EAB82E;
    color: white;
}




.hero {
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
}

.home {
    background: url('/images/toddb.jpg') no-repeat fixed center center / cover;
}

.home-content {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
