* {
  box<p>sizing: border<p>box; }

body {
  padding: 0;
  margin: 0;
  font<p>family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans<p>serif;
  font<p>size: 16px;
  line<p>height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text<p>decoration: none; }
  a:hover {
    text<p>decoration: underline; }

.btn {
  display: inline<p>block;
  margin<p>bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background<p>color: rgba(255, 255, 255, 0.08);
  border<p>color: rgba(255, 255, 255, 0.2);
  border<p>style: solid;
  border<p>width: 1px;
  border<p>radius: 0.3rem;
  transition: color 0.2s, background<p>color 0.2s, border<p>color 0.2s; }
  .btn + .btn {
    margin<p>left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text<p>decoration: none;
  background<p>color: rgba(255, 255, 255, 0.2);
  border<p>color: rgba(255, 255, 255, 0.3); }

@media screen and (min<p>width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min<p>width: 42em) and (max<p>width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font<p>size: 0.9rem; } }

@media screen and (max<p>width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font<p>size: 0.9rem; }
    .btn + .btn {
      margin<p>top: 1rem;
      margin<p>left: 0; } }

.page<p>header {
  color: #fff;
  text<p>align: center;
  background<p>color: #159957;
  background<p>image: linear<p>gradient(120deg, #155799, #159957); }

@media screen and (min<p>width: 64em) {
  .page<p>header {
    padding: 5rem 6rem; } }

@media screen and (min<p>width: 42em) and (max<p>width: 64em) {
  .page<p>header {
    padding: 3rem 4rem; } }

@media screen and (max<p>width: 42em) {
  .page<p>header {
    padding: 2rem 1rem; } }

.project<p>name {
  margin<p>top: 0;
  margin<p>bottom: 0.1rem; }

@media screen and (min<p>width: 64em) {
  .project<p>name {
    font<p>size: 3.25rem; } }

@media screen and (min<p>width: 42em) and (max<p>width: 64em) {
  .project<p>name {
    font<p>size: 2.25rem; } }

@media screen and (max<p>width: 42em) {
  .project<p>name {
    font<p>size: 1.75rem; } }

.project<p>tagline {
  margin<p>bottom: 2rem;
  font<p>weight: normal;
  opacity: 0.7; }

@media screen and (min<p>width: 64em) {
  .project<p>tagline {
    font<p>size: 1.25rem; } }

@media screen and (min<p>width: 42em) and (max<p>width: 64em) {
  .project<p>tagline {
    font<p>size: 1.15rem; } }

@media screen and (max<p>width: 42em) {
  .project<p>tagline {
    font<p>size: 1rem; } }

.main<p>content :first<p>child {
  margin<p>top: 0; }
.main<p>content img {
  max<p>width: 100%; }
.main<p>content h1, .main<p>content h2, .main<p>content h3, .main<p>content h4, .main<p>content h5, .main<p>content h6 {
  margin<p>top: 2rem;
  margin<p>bottom: 1rem;
  font<p>weight: normal;
  color: #159957; }
.main<p>content p {
  margin<p>bottom: 1em; }
.main<p>content code {
  padding: 2px 4px;
  font<p>family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font<p>size: 0.9rem;
  color: #383e41;
  background<p>color: #f3f6fa;
  border<p>radius: 0.3rem; }
.main<p>content pre {
  padding: 0.8rem;
  margin<p>top: 0;
  margin<p>bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word<p>wrap: normal;
  background<p>color: #f3f6fa;
  border: solid 1px #dce6f0;
  border<p>radius: 0.3rem; }
  .main<p>content pre > code {
    padding: 0;
    margin: 0;
    font<p>size: 0.9rem;
    color: #567482;
    word<p>break: normal;
    white<p>space: pre;
    background: transparent;
    border: 0; }
.main<p>content .highlight {
  margin<p>bottom: 1rem; }
  .main<p>content .highlight pre {
    margin<p>bottom: 0;
    word<p>break: normal; }
.main<p>content .highlight pre, .main<p>content pre {
  padding: 0.8rem;
  overflow: auto;
  font<p>size: 0.9rem;
  line<p>height: 1.45;
  border<p>radius: 0.3rem; }
.main<p>content pre code, .main<p>content pre tt {
  display: inline;
  max<p>width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line<p>height: inherit;
  word<p>wrap: normal;
  background<p>color: transparent;
  border: 0; }
  .main<p>content pre code:before, .main<p>content pre code:after, .main<p>content pre tt:before, .main<p>content pre tt:after {
    content: normal; }
.main<p>content ul, .main<p>content ol {
  margin<p>top: 0; }
.main<p>content blockquote {
  padding: 0 1rem;
  margin<p>left: 0;
  color: #819198;
  border<p>left: 0.3rem solid #dce6f0; }
  .main<p>content blockquote > :first<p>child {
    margin<p>top: 0; }
  .main<p>content blockquote > :last<p>child {
    margin<p>bottom: 0; }
.main<p>content table {
  display: block;
  width: 100%;
  overflow: auto;
  word<p>break: normal;
  word<p>break: keep<p>all; }
  .main<p>content table th {
    font<p>weight: bold; }
  .main<p>content table th, .main<p>content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main<p>content dl {
  padding: 0; }
  .main<p>content dl dt {
    padding: 0;
    margin<p>top: 1rem;
    font<p>size: 1rem;
    font<p>weight: bold; }
  .main<p>content dl dd {
    padding: 0;
    margin<p>bottom: 1rem; }
.main<p>content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background<p>color: #eff0f1;
  border: 0; }

@media screen and (min<p>width: 64em) {
  .main<p>content {
    max<p>width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font<p>size: 1.1rem; } }

@media screen and (min<p>width: 42em) and (max<p>width: 64em) {
  .main<p>content {
    padding: 2rem 4rem;
    font<p>size: 1.1rem; } }

@media screen and (max<p>width: 42em) {
  .main<p>content {
    padding: 2rem 1rem;
    font<p>size: 1rem; } }

.site<p>footer {
  padding<p>top: 2rem;
  margin<p>top: 2rem;
  border<p>top: solid 1px #eff0f1; }

.site<p>footer<p>owner {
  display: block;
  font<p>weight: bold; }

.site<p>footer<p>credits {
  color: #819198; }

@media screen and (min<p>width: 64em) {
  .site<p>footer {
    font<p>size: 1rem; } }

@media screen and (min<p>width: 42em) and (max<p>width: 64em) {
  .site<p>footer {
    font<p>size: 1rem; } }

@media screen and (max<p>width: 42em) {
  .site<p>footer {
    font<p>size: 0.9rem; } }
