    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-aria.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js"></script>
    <script src="//cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.5/angular-material.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>
    <script src="/js/theme.mdl.js"></script>
    <script>
    angular
        .module('tba', ['ngMaterial', 'ngMdIcons', 'wt.theme']);
    </script>