<md-toolbar>
    <div class="md-toolbar-tools">
        <h2><a class="md-display-1" href="/">Todd B. Adams</a> <small class="md-subhead">(An American Engineer in London)</small></h2>
    <span flex></span>
    <md-button aria-label="Code I've written" href="/code">Code<md-tooltip md-direction="bottom">Code I've written</md-tooltip></md-button>
    <md-button aria-label="Wine I've enjoyed" href="/wine">Wine<md-tooltip md-direction="bottom">Wine I've enjoyed</md-tooltip></md-button>
    <!--<md-button aria-label="Books I've written" href="/books">Books<md-tooltip md-direction="bottom">Books I've written</md-tooltip></md-button> -->
    </div>
</md-toolbar>
