<footer id="footer">
        <div class="row">
            <div class="span6">
                © 2012 <a href="http://www.toddbadams.co.uk">Todd B. Adams</a>, all rights reserved.
            </div>
            <div class="span6">
                CMS by <a href="http://www.toddbadams.co.uk">Todd B. Adams</a>
            </div>
        </div>
</footer>
