<div id="masthead">
    <div class="container">
        <div class="masthead-pad">
            <div class="masthead-text">
                <h2>@ViewBag.MastHeadTitle</h2>
                <p>@ViewBag.MastHeadSubTitle</p>
            </div>
        </div>
    </div>
</div>