<section id="header" class="navbar">
    <div class="container">
        <ul class="nav">
            <li></li>
            <li></li>
        </ul>
        <ul class="nav pull-right">
            
        </ul>
    </div>
</section>

