<form class="form-horizontal input-control text">
<div class="control-group">
    <label class="control-label" for="degeneration-steps">Size</label>
    <div class="controls">
        <input type="number" class="input-small" value="100" id="degeneration-steps" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputEmail"></label>
    <div class="controls">
        <span class="m-btn red" id="degenerate-button"><i class="icon-play"></i>Degenerate</span>
    </div>
</div>
</form>