<form class="form-horizontal input-control text">
@*<div class="control-group">
    <label class="control-label" for="inputEmail">Type of Tree</label>
    <div class="controls">
        <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn btn-primary">Binary Tree</button>
            <button type="button" class="btn btn-primary">Binary Search Tree</button>
            <button type="button" class="btn btn-primary">AVL Tree</button>
            <button type="button" class="btn btn-primary">Red/Black Tree</button>
        </div>
    </div>
</div>*@
<div class="control-group">
    <label class="control-label" for="inputEmail">Size of tree</label>
    <div class="controls">
        <input type="number" class="input-small" value="100" id="nodes" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputEmail">Key Range</label>
    <div class="controls">
        0 to
        <input type="number" class="input-small" value="1000" id="key-values" />
        <span class="help-inline">Inline help text</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputEmail"></label>
    <div class="controls">
        <span class="m-btn green" id="generate-button"><i class="icon-play"></i>Generate</span>
    </div>
</div>
</form>