<!DOCTYPE html>
<html ng-app="wt" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100italic,100,300italic,300,400italic,400,500italic,500,700italic,700,900italic,900" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.2/angular-material.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/github-light.css">
</head>

<body>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="menu">
                <ng-md-icon icon="menu">
                    </md-icon>
            </md-button>
            <h2>
          <span>Todd B. Adams</span>
        </h2>
        </div>
    </md-toolbar>
    <md-content class="container">
        {{ content }}
    </md-content>
    <footer>
        <ul>
            <li><a href="https://uk.linkedin.com/in/toddbadams" target="_blank">linkedin</a></li>
            <li><a href="https://github.com/toddbadams">github.com/toddbadams</a></li>
        </ul>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-aria.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js"></script>
    <script src="//cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.5/angular-material.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>
    <script>
    angular
        .module('wt', ['ngMaterial', 'ngMdIcons'])
        .config(function($mdThemingProvider, palettes) {
            var customPrimary = {
                '50': '#ffffff',
                '100': '#ffffff',
                '200': '#ffffff',
                '300': '#ffffff',
                '400': '#ffffff',
                '500': '#fafafa',
                '600': '#ededed',
                '700': '#e0e0e0',
                '800': '#d4d4d4',
                '900': '#c7c7c7',
                'A100': '#ffffff',
                'A200': '#ffffff',
                'A400': '#ffffff',
                'A700': '#bababa'
            };
            $mdThemingProvider
                .definePalette('customPrimary',
                    customPrimary);

            var customAccent = {
                '50': '#ffffff',
                '100': '#ffffff',
                '200': '#ffffff',
                '300': '#f3f3f3',
                '400': '#e7e7e7',
                '500': '#dadada',
                '600': '#cdcdcd',
                '700': '#c0c0c0',
                '800': '#b4b4b4',
                '900': '#a7a7a7',
                'A100': '#ffffff',
                'A200': '#ffffff',
                'A400': '#ffffff',
                'A700': '#9a9a9a'
            };
            $mdThemingProvider
                .definePalette('customAccent',
                    customAccent);

            var customWarn = {
                '50': '#ffb280',
                '100': '#ffa266',
                '200': '#ff934d',
                '300': '#ff8333',
                '400': '#ff741a',
                '500': '#ff6400',
                '600': '#e65a00',
                '700': '#cc5000',
                '800': '#b34600',
                '900': '#993c00',
                'A100': '#ffc199',
                'A200': '#ffd1b3',
                'A400': '#ffe0cc',
                'A700': '#803200'
            };
            $mdThemingProvider
                .definePalette('customWarn',
                    customWarn);

            var customBackground = {
                '50': '#ffffff',
                '100': '#ffffff',
                '200': '#ffffff',
                '300': '#ffffff',
                '400': '#ffffff',
                '500': '#ffffff',
                '600': '#f2f2f2',
                '700': '#e6e6e6',
                '800': '#d9d9d9',
                '900': '#cccccc',
                'A100': '#ffffff',
                'A200': '#ffffff',
                'A400': '#ffffff',
                'A700': '#bfbfbf'
            };
            $mdThemingProvider
                .definePalette('customBackground',
                    customBackground);

            $mdThemingProvider.theme('default')
                .primaryPalette('customPrimary')
                .accentPalette('customAccent')
                .warnPalette('customWarn')
                .backgroundPalette('customBackground')
        });
    </script>
</body>

</html>
