<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/github-list.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <div class="container">
        {{ content }}
    </div>
    <!-- /.container -->
    <footer>
        <ul>
            <li><a href="Public Profilehttps://uk.linkedin.com/in/toddbadams">linkedin</a></li>
            <li><a href="https://github.com/toddbadams">github.com/toddbadams</a></li>
        </ul>
    </footer>
</body>

</html>
