<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.layouts.css">
    <link rel="stylesheet" type="text/css" href="/css/github-light.css">
</head>

<body>
    <div class="container">
        {{ content }}
    </div>
    <!-- /.container -->
    <footer>
        <ul>
            <li><a href="https://uk.linkedin.com/in/toddbadams" target="_blank">linkedin</a></li>
            <li><a href="https://github.com/toddbadams">github.com/toddbadams</a></li>
        </ul>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.js"></script>
</body>

</html>
